<li value="default">Default (Grey)<span color="default" class="color-preview"></span></li>
<li value="amethyst">Amethyst<span color="amethyst" class="color-preview"></span></li>
<li value="carrot">Carrot<span color="carrot" class="color-preview"></span></li>
<li value="curiosity">Curiosity<span color="curiosity" class="color-preview"></span></li>
<li value="glade">Glade<span color="glade" class="color-preview"></span></li>
<li value="malibu">Malibu<span color="malibu" class="color-preview"></span></li>
<li value="rose">Rose<span color="rose" class="color-preview"></span></li>
<li value="sark">Sark<span color="sark" class="color-preview"></span></li>
<li value="sunglow">Sunglow<span color="sunglow" class="color-preview"></span></li>
<li value="terracotta">Terracotta<span color="terracotta" class="color-preview"></span></li>
<li value="watermelon">Watermelon<span color="watermelon" class="color-preview"></span></li>