<div class="wrapper">
	<section class="informational">
		<h2>What's this all about?</h2>
		<p>DK30.io is an unofficial hub for anyone to share and showcase their DayKnight 30 day challenges. A 30 day challenge is a great way to challenge yourself to accomplish something in 30 days, whether you're picking up a new skill, refining an old one, or just trying to knock some items off your to-do list.</p>
		<h3>How do I get started?</h3>
		<p>Simply head over the <a hef="https://discordapp.com/invite/day9tv" target="_blank">Day9TV Discord</a> to learn more, introduce yourself, and post your goals. When you're ready to start showcasing your work, sign in and click the "New Project" button on your profile.</p>
		<h3>Who built this?</h3>
		<p>The project was originally started by <a href="/users/179600347352924160">Rezeyu</a> as his first 30 day challenge. While he maintins the site itself, the project is open source, and you can <a href="https://github.com/BrandonDiaz/DK30-Web/" target="_blank">check it</a> out on Github.</p>
	</section>
</div>