<div class="wrapper">
	<section>
		<div class="filters cleared">
			<div class="float-left">
				<form class="search button disabled">
					<i class="fas fa-search"></i><input type="text" placeholder="Search..." disabled />
				</form>
			</div>
			<div class="float-right">
				<div class="toggle">
					<span class="button disabled bordered icon float-left active"><i class="fas fa-th"></i></span>
					<span class="button disabled bordered icon float-right"><i class="fas fa-th-list"></i></span>
				</div>
			</div>
		</div>
		<hr />
		<div class="project-listing listing" mode="grid" source="/projects/list/" page="0">
			<ul class="list cleared"></ul>
			<span class="load-more cleared hidden">
				<span>Load More</span>
				<span><i class="fas fa-spin fa-sync-alt"></i></span>
			</span>
		</div>
	</section>
</div>