<link href="/stylesheets/users-details.css" rel="stylesheet" />
<div class="wrapper">
	<section class="user-masthead">
		<div class="float-left">
			<h2>{{> user_card profile}}</h2>
		</div>
		<div class="float-right">
			<a href="/projects/new" class="button accent"><i class="fas fa-plus"></i> New Project</a>
		</div>
	</section>
	<section>
		{{#projects}}
			<div class="card size-2">
				{{> project_card}}
			</div>
		{{/projects}}
	</section>
</div>