@import 'animations';
@import 'variables';

.project-masthead {
	border-bottom: 1px solid darken(@color-light, 5%);
	line-height: 36px;
	margin-bottom: 25px;
	padding-bottom: 20px;

	.owner {
		color: @color-dark;
		padding: 0;

		em {
			color: fade(@color-dark, 50%);
			font-style: normal;
		}

		img {
			border-radius: 100%;
		}
	}
}

.sidebar {
	padding-left: 10%;

	h3 {
		border-bottom: 1px solid darken(@color-light, 5%);
		margin-bottom: 15px;
		margin-top: 40px;
		padding-bottom: 10px;

		&:first-child {
			margin-top: 0;
		}
	}

	p {
		color: lighten(@color-dark, 50%);
	}

	ul {
		list-style: none;

		&.tags {
			li {
				background: darken(@color-light, 5%);
				border-radius: 14px;
				color: lighten(@color-dark, 50%);
				display: inline-block;
				margin: 0 0 8px 6px;
				padding: 4px 10px;

				&:first-child {
					margin-left: 0;
				}

				a {
					color: lighten(@color-dark, 50%);

					&:active, &:hover {
						color: lighten(@color-dark, 25%);
					}
				}
			}
		}

		li {
			.fas {
				color: lighten(@color-dark, 50%);
			}
		}
	}
}

.update-form {
	section {
		padding: 0;
	}

	.media-links {
		list-style: none;

		li {
			.fadeInUp;
			margin-bottom: 15px;
			position: relative;

			input {
				color: darken(@color-light, 5%);
				cursor: default;
				height: 50px;
				line-height: 50px;
				padding-left: 60px;
			}

			.fas {
				background: darken(@color-light, 5%);
				color: white;
				cursor: pointer;
				left: 0;
				padding: 17px;
				opacity: 1;
				position: absolute;
				text-align: center;
				transition: opacity 0.5s linear;
				width: 16px;

				&:hover {
					opacity: 0.75;
				}
			}
		}
	}
}

.media-grid {
	display: block;
	list-style: none;
	margin: 0 -1%;

	li {
		float: left;
		padding: 1%;
		width: 23%;

		.card {
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			cursor: pointer;
			display: block;
			height: 0;
			padding-bottom: 100%;
			transition: opacity 0.5s linear;

			&:hover {
				opacity: 0.75;
			}
		}
	}
}

// TODO: can be segregated to project-edit
.links-add {
	background: #ffffff;
	border: 1px solid darken(@color-light, 5%);
	height: 49px;
	overflow: hidden;
	padding: 0;
	position: relative;
	transition: border-color 0.5s ease, width 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);

	input {
		border: none;
		float: left;
		height: 50px;
		line-height: 50px;
		opacity: 0;
		transition: opacity 1s linear;
	}

	.button {
		background: darken(@color-light, 5%);
		border-radius: 0 2px 2px 0;
		bottom: 0;
		color: white;
		height: auto;
		opacity: 1;
		position: absolute;
		right: 0;
		top: 0;
		transition: opacity 0.5s linear;

		&:hover {
			opacity: 0.75;
		}
	}
}